In [1]:
import pandas as pd
import numpy as np
import plotly.express as plt
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
data = pd.read_csv('BRCA.csv')

In [3]:
data.head()

,Patient_ID,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,HER2 status,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status
0,TCGA-D8-A1XD,36.0,FEMALE,0.080353,0.42638,0.54715,0.273680,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,15-Jan-17,19-Jun-17,Alive
1,TCGA-EW-A1OX,43.0,FEMALE,-0.420320,0.57807,0.61447,-0.031505,II,Mucinous Carcinoma,Positive,Positive,Negative,Lumpectomy,26-Apr-17,09-Nov-18,Dead
2,TCGA-A8-A079,69.0,FEMALE,0.213980,1.31140,-0.32747,-0.234260,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,08-Sep-17,09-Jun-18,Alive
3,TCGA-D8-A1XR,56.0,FEMALE,0.345090,-0.21147,-0.19304,0.124270,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,25-Jan-17,12-Jul-17,Alive
4,TCGA-BH-A0BF,56.0,FEMALE,0.221550,1.90680,0.52045,-0.311990,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,06-May-17,27-Jun-19,Dead

In [4]:
data.isnull().sum()

Patient_ID             7
Age                    7
Gender                 7
Protein1               7
Protein2               7
Protein3               7
Protein4               7
Tumour_Stage           7
Histology              7
ER status              7
PR status              7
HER2 status            7
Surgery_type           7
Date_of_Surgery        7
Date_of_Last_Visit    24
Patient_Status        20
dtype: int64

In [5]:
data.dropna(inplace=True)

In [6]:
data.isnull().sum()

Patient_ID            0
Age                   0
Gender                0
Protein1              0
Protein2              0
Protein3              0
Protein4              0
Tumour_Stage          0
Histology             0
ER status             0
PR status             0
HER2 status           0
Surgery_type          0
Date_of_Surgery       0
Date_of_Last_Visit    0
Patient_Status        0
dtype: int64

In [7]:
data.shape

(317, 16)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 317 entries, 0 to 333
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Patient_ID          317 non-null    object
 1   Age                 317 non-null    float64
 2   Gender              317 non-null    object
 3   Protein1            317 non-null    float64
 4   Protein2            317 non-null    float64
 5   Protein3            317 non-null    float64
 6   Protein4            317 non-null    float64
 7   Tumour_Stage        317 non-null    object
 8   Histology           317 non-null    object
 9   ER status           317 non-null    object
 10  PR status           317 non-null    object
 11  HER2 status         317 non-null    object
 12  Surgery_type        317 non-null    object
 13  Date_of_Surgery     317 non-null    object
 14  Date_of_Last_Visit  317 non-null    object
 15  Patient_Status      317 non-null    object
dtypes: float64(5), object(11)
memory usage: 42.1+ KB

In [9]:
data.Patient_Status.value_counts()

Patient_Status
Alive    255
Dead      62
Name: count, dtype: int64

In [10]:
data.drop(['Patient_ID','Surgery_type', 'Date_of_Surgery', 'Date_of_Last_Visit' ], axis=1, inplace=True)

In [11]:
data.head(2)

,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,HER2 status,Patient_Status
0,36.0,FEMALE,0.080353,0.42638,0.54715,0.273680,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Alive
1,43.0,FEMALE,-0.420320,0.57807,0.61447,-0.031505,II,Mucinous Carcinoma,Positive,Positive,Negative,Dead

In [19]:
data.columns

Index(['Age', 'Gender', 'Protein1', 'Protein2', 'Protein3', 'Protein4',
       'Tumour_Stage', 'Histology', 'ER status', 'PR status', 'HER2 status',
       'Patient_Status'],
      dtype='object')

In [20]:
#Convert the features into labels encoded trough a function
from sklearn.preprocessing import LabelEncoder

def label_encode_features(data, columns):
    label_encoder = LabelEncoder()
    for column in columns:
        data[column] = label_encoder.fit_transform(data[column])
    return data

# List of columns to encode
columns_to_encode = ['Gender','Tumour_Stage','Histology','ER status', 'PR status', 'HER2 status',
       'Patient_Status'] 

# Apply label encoding to the specified columns
data_encoded = label_encode_features(data, columns_to_encode)

In [21]:
x = data.drop(['Patient_Status'], axis=1)

In [22]:
x.head(2)

,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,HER2 status
0,36.0,0,0.080353,0.42638,0.54715,0.273680,2,0,0,0,0
1,43.0,0,-0.420320,0.57807,0.61447,-0.031505,1,2,0,0,0

In [23]:
y = data['Patient_Status']

In [24]:
y.head(2)

0    0
1    1
Name: Patient_Status, dtype: int32

In [25]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
fit_features = SelectKBest(score_func=f_classif)
fit_features.fit(x,y)
score_col = pd.DataFrame(fit_features.scores_, columns=['score'])
name_col = pd.DataFrame(x.columns)
top_feature = pd.concat([name_col, score_col], axis=1)
top_feature

               0     score
0            Age  0.048520
1         Gender  0.075784
2       Protein1  0.123603
3       Protein2  1.772832
4       Protein3  0.201837
5       Protein4  1.775998
6   Tumour_Stage  1.017644
7      Histology  0.019280
8      ER status       NaN
9      PR status       NaN
10   HER2 status  0.671529

In [26]:
top_feature.nlargest(6,score_col)

               0     score
5       Protein4  1.775998
3       Protein2  1.772832
6   Tumour_Stage  1.017644
10   HER2 status  0.671529
4       Protein3  0.201837
2       Protein1  0.123603

In [27]:
data.columns

Index(['Age', 'Gender', 'Protein1', 'Protein2', 'Protein3', 'Protein4',
       'Tumour_Stage', 'Histology', 'ER status', 'PR status', 'HER2 status',
       'Patient_Status'],
      dtype='object')

In [28]:
data.drop(['Age', 'Gender','Histology','ER status', 'PR status'],axis=1, inplace=True)

In [29]:
data.head(2)

,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,HER2 status,Patient_Status
0,0.080353,0.42638,0.54715,0.273680,2,0,0
1,-0.420320,0.57807,0.61447,-0.031505,1,0,1

In [30]:
from pycaret.classification import *
s = setup(data, target = 'Patient_Status', session_id = 123, fold=5)

In [31]:
from pycaret.classification import ClassificationExperiment
s = ClassificationExperiment()
s.setup(data, target = 'Patient_Status', session_id = 123)

In [32]:
best = compare_models()

Processing:   0%|          | 0/65 [00:00<?, ?it/s]

In [33]:
predict_model(best)

,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,HER2 status,Patient_Status,prediction_label,prediction_score
76,-0.826320,1.69120,-0.13349,-0.18214,1,0,1,0,0.7671
20,-0.087485,1.11110,-0.56692,1.22370,1,0,0,0,0.6961
106,0.373550,0.78312,-0.57445,-0.96343,0,0,0,0,0.9176
181,-0.210820,-0.97873,-1.06000,-0.84252,1,0,0,0,0.9257
137,-0.444700,1.49460,-1.10740,-0.25249,1,0,0,0,0.8203
...,...,...,...,...,...,...,...,...,...
316,-1.231300,-0.76767,0.86160,0.23905,1,0,0,0,0.8015
62,0.043546,-0.40171,0.46685,1.04780,1,0,0,0,0.7629
165,0.469310,1.55260,-0.16524,-0.27599,2,0,0,0,0.7716
215,0.176700,0.44394,-0.25075,-0.37407,1,0,0,0,0.8606
171,0.228260,1.21120,-0.46326,-0.54502,1,0,0,0,0.8516

In [37]:
save_model(best, 'my_best_pipeline1')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['Protein1', 'Protein2', 'Protein3',
                                              'Protein4', 'Tumour_Stage',
                                              'HER2 status'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean'))),
                 ('categorical_imputer',
                  Transformer...
                  TransformerWrapper(exclude=None, include=None,
                                     transformer=CleanColumnNames(match='[\\]\\[\\,\\{\\}\\"\\:]+'))),
                 ('trained_model',
                  LogisticRegression(C=1.0, class_weight=None, dual=False,
                                     fit_intercept=True, intercept_scaling=1,
                                     l1_ratio=None, max_iter=1000,
                                     multi_class='auto', n_jobs=None,
                                     penalty='l2', random_state=123,
                                     solver='lbfgs', tol=0.0001, verbose=0,
                                     warm_start=False))],
          verbose=False),
 'my_best_pipeline1.pkl')

In [38]:
loaded_model = load_model('my_best_pipeline')
print(loaded_model)

Transformation Pipeline and Model Successfully Loaded
Pipeline(memory=FastMemory(location=C:\Users\User\AppData\Local\Temp\joblib),
         steps=[('numerical_imputer',
                 TransformerWrapper(exclude=None,
                                    include=['Protein1', 'Protein2', 'Protein3',
                                             'Protein4', 'Tumour_Stage',
                                             'HER2 status'],
                                    transformer=SimpleImputer(add_indicator=False,
                                                              copy=True,
                                                              fill_value=None,
                                                              keep_empty_features=False,
                                                              missing_values=nan,
                                                              strategy='mean...
                 TransformerWrapper(exclude=None, include=None,
                                    transformer=CleanColumnNames(match='[\\]\\[\\,\\{\\}\\"\\:]+'))),
                ('trained_model',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=1000,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=123,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [46]:
new_patient = pd.DataFrame({


    'Protein1': [0.221550],
    'Protein2': [1.90680],
    'Protein3': [0.52045],
    'Protein4': [-0.311990],
    'Tumour_Stage': [1],
    'HER2 status': [0]
})

prediction = predict_model(loaded_model, data=new_patient)
print(prediction[['prediction_label', 'prediction_score']])

   prediction_label  prediction_score
0                 0            0.7798